body{
    background-image:url(../IMG/fondo2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed; 

    }
form{
    width: 450px;
     height: 4;
    margin: auto;
    background: rgba(204, 122, 9, 0.54);
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 8px;
} 


input,label{
    width: 60%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

table, th, td {
  border: 1px solid #070000;
  border-collapse: collapse;
}